.__container {
    width: 90%;
    background: white;
    z-index: 1;
    position: absolute;
    top: -200px;
    border: 1px solid #b5b5b5;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    top: 50%;
    left: 50%;
    margin: -160px 0 0 -45%;
    display: flex;
    flex-direction: column;
}
.header{
    font-size: 22px;
    color: black;
    text-align: center;
    padding: 10px ;
}
.footer{
    color: rgb(86, 86, 86);
    font-size: 18px;
    text-align: center;
    padding: 10px ;
}
.map-container {
    height: 300px;
    }

    .sidebar {
        background-color: #000000e6;
        color: #fff;
        padding: 6px 12px;
        font-family: monospace;
        z-index: 1;
        position: absolute;
        top: 120px;
        right: 0;
        margin: 12px;
        border-radius: 4px;
        opacity: 0.6;
        }