.__container {
    width: 100%;
    height: 60vh;
    background: #f0ffeb;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -27vh 0 0 -50%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.__container__son {
    width: 94%;
    background: white;
    position: absolute;
    top: -200px;
    border: 1px solid #b5b5b5;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -47%;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header div{
font-size: 22px;
color: black;
}

.footer {
    font-size: 16px;
    text-align: center;
    padding: 10px;
    color: #8a8a8a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.confirm:hover {
    cursor: pointer;
    text-decoration-line: underline;
  }
  
.confirm {
    border-radius: 8px;
    margin: 0px 10px 0px 10px;
    color: #ff7f7f;
    font-weight: 600;
  }

.map-container {
    height: 300px;
}
.sidebar {
    background-color: #505050e6;
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    position: absolute;
    top: 302px;
    right: 0;
    margin: 12px;
    border-radius: 4px;
    z-index: 2;
}

.close {
    position: absolute;
    right: 32px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.3;

  }
  .close:hover {
    opacity: 1;
    cursor: pointer;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 4px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }