button {
    background: black;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    border-radius: 25px;
    letter-spacing: 0.1px;
    line-height: 1em;
    padding: 20px 30px;
    text-transform: uppercase;
    margin: 10px;
}
button:hover {
    transform: scale(1.2);
    transition: 0.3s;
    cursor: pointer;
}
button:disabled{
    background:#e0e0e0;
    cursor: progress;
}

.buttonv2{
    background: #f15425;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    border-radius: 25px;
    letter-spacing: 0.1px;
    line-height: 1em;
    padding: 12px 20px;
    text-transform: uppercase;
    margin: 7px;
}
.buttonv2:hover {
    transform: scale(1.2);
    transition: 0.3s;
    cursor: pointer;
}
.buttonv2:disabled{
    background:#e0e0e0;
    cursor: progress;
}
.small__button {
    letter-spacing: 0.1px;
    border: 1px solid #d6b986;
    border-radius: 25px;
    padding: 8px 10px;
    font-size: 12px;
    min-width: 150px;
    transition: all 0.3s ease-in-out;
    background: #f0edbd;
    color: black;
    margin-bottom: 20px;
}
