.__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
}
.__container__opc {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    opacity: 0.1;
}
.mascota {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-size: 22px;
}
.mascota__cargar {
    font-size: 14px;
    color: rgb(124, 124, 124);
    position: absolute;
    margin-top: 88px;
    width: 100%;
    text-align: center;
}
.mascota__imagen {
    height: 200px;
    min-width: 200px;
    border: 6px solid #ffffff;
    filter: drop-shadow(3px 4px 8px #a2a2a2);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    margin-bottom:15px;
    border-left-color: #d6b986;
    border-right-color: #f0edbd;
}
.mascota__imagen img {
    height: 190px;
    min-width: 190px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.mascota__imagen:hover {
    border-color: #e3e3e3;
    cursor: pointer;
    transform: rotateZ(25deg);
    transition: 0.8s;
}
.mascota__nombre {
    color: #d5b886;
    min-width: 200px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding: 0px 0px 15px 0px;
}
.mascota__nombre:hover {
    cursor: pointer;
    transform: scaleX(1.1);
    transition: 0.8s;
    text-decoration: underline;
}
textarea:focus {
    transition: 0.5s;
    transform: scale(1.07);
}
textarea {
    /* resize: none; */
    min-width: 245px;
}
input[type="checkbox"] {
    height: 22px;
    width: 22px;
}
label {
    font-size: 20px;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 35px 190px;
    justify-items: center;
    align-items: center;
}
.error {
    font-size: 20px;
    color: red;
    line-height: 1.1;
    grid-template-columns: 35px 190px;
    justify-items: center;
    align-items: center;
}
.ubicacion {
    min-width: 240px;
    border: 1px solid #f0edbd;
    border-radius: 25px;
    font-size: 16px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.ubicacion img{
    padding: 10px;
}
.ubicacion:hover {
    cursor: pointer;
    border-color: #d5b886;
    border-style: dashed;
    transform: scale(1.1);
    transition: 0.3s;
}
.ubicacion a{
    padding: 10px;
  font-size: 14px;
}