.container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}
.content__title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.content__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    gap: 20px;
}
.content__container__desciption {
    font-size: 20px;
    text-align: center;
}
.content__container__suggestion {
    font-size: 14px;
    text-align: center;
    color: wheat;
    animation-name: anim;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes anim{
    0% {color: wheat;}
    25% {color: #d4b67f;}
    50% {color: wheat;}
    75% {color: #d4b67f;}
    100% {color: wheat}
 }

 @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Blue */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }
  
  .spinner-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .distancia {
    display: flex;
    gap: 5px;
    justify-content: center;
    padding-bottom: 15px;
    flex-direction: row;
    flex-wrap: wrap;
}
  .distancia a{
    min-width: 80px;
    letter-spacing: .1px;
    border: 1px solid #f0edbd;
    border-radius: 25px;
    padding: 8px 10px;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
}
.distancia a:hover{
    filter: drop-shadow(3px 4px 8px #9a7939);
    cursor: pointer;
}

.encontradas , .cerca {
  font-weight: bold;
}