input,
textarea {
    letter-spacing: 0.1px;
    border: 1px solid #f0edbd;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    margin: 10px;
}
input,
textarea:focus {
    transition: 0.5s;
    transform: scale(1.07);
}
.InputMap{
    min-width: 300px;
    border: 2px solid #2b2b2b;
    position: absolute;
    padding: 7px 7px 7px 30px;
    width: 250px;
    right: 15px;
    font-size: 16px;
    top: 65px;
}
