input,
textarea {
    letter-spacing: 0.1px;
    border: 1px solid #e1e1e1;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    margin: 10px;
}
input,
textarea:focus {
    transition: 0.5s;
    transform: scale(1.07);
}